@model SharpStreamServer.PartyServer

<h2>Test Party</h2>
<img src="~/Content/albumart.png" class="playerClass"/>

<div style="display: none;">
    <div id="data-key">
        @Model._Key
    </div>
    @Html.ActionLink("ALink", "PullChunk", "API")
</div>

@if(User.Identity.Name == Model._Key)
{@using(Html.BeginForm("AddSource", "API", FormMethod.Post, new { enctype="multipart/form-data"}))
{

    <div>  
        @Html.TextBox("file", "", new {  type= "file"}) <br />  
        @Html.Hidden("partyKey", @Model._Key)
        <input type="submit" value="Upload" />  
   
        @ViewBag.Message
    </div>
@Html.ActionLink("Stop Party", "StopParty", new { username = User.Identity.Name })
}  <script src="~/tsScripts/compiled/StreamListener.js"></script>